<footer>
  <p>
    骷髅女孩Wiki是一个非官方的Skullgirls Wiki。本站已获得授权搬运并翻译Mizuumi
    Wiki上的教学内容。如果你是一位《骷髅女孩》爱好者，请务必收藏本站。
  </p>
  <p>
    站点内所涉及的公司名称、商标、产品等均为其各自所有者所有的资产，站内使用仅供用于识别。站点内使用的所有游戏图片、文案等其他素材，其版权为游戏权利方所有。如有异议请发邮件或通过QQ联系客服。
  </p>
  <div class="links">
    <span>相关链接：</span>
    <ul>
      <li>
        <a href="https://wiki.gbl.gg/w/Skullgirls" target="_blank"
          >Mizuumi Wiki</a
        >
      </li>
      <li>
        <a
          href="https://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=SxxzKYTe9WY_GKzrGgpJP5ws-FYUFxn6&authKey=zE9ORsA6EuuQuh%2BoyoAjcFzgJDCMfb2F3v40TTMfVpdK%2BLEVhjYcQ2sC%2FHgHtNoy&noverify=0&group_code=264429805"
          target="_blank"
          >游戏交流群</a
        >
      </li>
      <li>
        <a
          href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=AJYVjPSAsSBmruyhAOp8lgJcA5ayUF4h&authKey=DumD3U1XyDCiGdjvpTbSXC1T%2BCNEcYjINqsGsGg39UOGJdjCxtiI5OurNCAex2am&noverify=0&group_code=127859346"
          target="_blank"
          >Wiki交流群</a
        >
      </li>
      <li>
        <a href="https://afdian.net/a/skullgirls" target="_blank">赞助我们</a>
      </li>
    </ul>
  </div>
  <div class="copyright">
    <a href="https://beian.miit.gov.cn/" target="_blank"
      >沪ICP备2024049967号-1</a
    >
    <a
      href="https://beian.mps.gov.cn/#/query/webSearch?code=31012102000142"
      target="_blank"
    >
      <img src="https://beian.mps.gov.cn/img/logo01.dd7ff50e.png" alt="" />
      沪公网安备31012102000142号</a
    >
  </div>
</footer>
