<div class="home">
  <header>
    <img src="assets/wiki_logo.png" alt="" />
    <h1>欢迎来到Skullgirls</h1>
    <p>该社区为 Arc System Works 的游戏建立了信息中心。</p>
    <div class="links">
      <button></button>
      <button></button>
      <button></button>
    </div>
  </header>
  <main>
    <div class="left">
      <div class="introduce">
        <span>News</span> <button>Add Some News</button>
      </div>
      <div class="news">
        <dl>
          <dt>2024-04-01</dt>
          <dd>
            <a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645<a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a
              href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645
          </dd>
        </dl>
        <dl>
          <dt>2024-04-01</dt>
          <dd>
            <a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645<a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a
              href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645
          </dd>
        </dl>
        <dl>
          <dt>2024-04-01</dt>
          <dd>
            <a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645<a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a
              href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645
          </dd>
        </dl>
        <dl>
          <dt>2024-04-01</dt>
          <dd>
            <a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645<a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a
              href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645
          </dd>
        </dl>
        <dl>
          <dt>2024-04-01</dt>
          <dd>
            <a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645<a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a
              href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645
          </dd>
        </dl>
        <dl>
          <dt>2024-04-01</dt>
          <dd>
            <a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645<a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a
              href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645
          </dd>
        </dl>
        <dl>
          <dt>2024-04-01</dt>
          <dd>
            <a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645<a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a
              href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645
          </dd>
        </dl>
        <dl>
          <dt>2024-04-01</dt>
          <dd>
            <a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645<a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a
              href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645
          </dd>
        </dl>
        <dl>
          <dt>2024-04-01</dt>
          <dd>
            <a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645<a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a
              href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645
          </dd>
        </dl>
        <dl>
          <dt>2024-04-01</dt>
          <dd>
            <a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645<a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a
              href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645
          </dd>
        </dl>
        <dl>
          <dt>2024-04-01</dt>
          <dd>
            <a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645<a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a
              href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645
          </dd>
        </dl>
        <dl>
          <dt>2024-04-01</dt>
          <dd>
            <a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645<a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a
              href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645
          </dd>
        </dl>
        <dl>
          <dt>2024-04-01</dt>
          <dd>
            <a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645<a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a
              href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645
          </dd>
        </dl>
        <dl>
          <dt>2024-04-01</dt>
          <dd>
            <a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645<a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a
              href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645
          </dd>
        </dl>
        <dl>
          <dt>2024-04-01</dt>
          <dd>
            <a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645<a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a
              href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645
          </dd>
        </dl>
        <dl>
          <dt>2024-04-01</dt>
          <dd>
            <a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645<a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a
              href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645
          </dd>
        </dl>
        <dl>
          <dt>2024-04-01</dt>
          <dd>
            <a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645<a href="wqe">Granblue Fantasy Versus: Rising</a>64645<a
              href="wqe"
              >Granblue Fantasy Versus: Rising</a
            >64645
          </dd>
        </dl>
      </div>
    </div>
    <div class="center">
      <div class="otherwiki1">
        <div class="introduce">ArcSys Fighters</div>
        <div class="cards">
          <div>
            <a href="13231">
              <img src="assets/GGXRD-R2_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/GGXRD-R2_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/GGXRD-R2_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/GGXRD-R2_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/GGXRD-R2_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/GGXRD-R2_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/GGXRD-R2_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/GGXRD-R2_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/GGXRD-R2_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/GGXRD-R2_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/GGXRD-R2_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/GGXRD-R2_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/GGXRD-R2_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/GGXRD-R2_Logo.png" alt="" />
            </a>
          </div>
        </div>
        <button>Full Games List</button>
      </div>
      <div class="otherwiki2">
        <div class="introduce">Other FGC Wikis</div>
        <div class="cards">
          <div>
            <a href="13231">
              <img src="assets/77px-Mizuumi_Wiki_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/77px-Mizuumi_Wiki_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/77px-Mizuumi_Wiki_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/77px-Mizuumi_Wiki_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/77px-Mizuumi_Wiki_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/77px-Mizuumi_Wiki_Logo.png" alt="" />
            </a>
          </div>
        </div>
        <a href="asdsa">SuperCombo's megalist</a>
      </div>
      <div class="otherwiki3">
        <div class="introduce">Side Games Wiki</div>
        <div class="links">
          <a href="13231">Guilty Gear 2: Overture</a>
          <a href="13231">Guilty Gear 2: Overture</a>
          <a href="13231">Guilty Gear 2: Overture</a>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="guides">
        <div class="introduce">Side Games Wiki</div>
        <div class="register">
          <button>Register an account</button>
          to contribute.
        </div>
        <div class="links">
          <a href="13231">Best Practices</a>
          <a href="13231">Best Practices</a>
          <a href="13231">Best Practices</a>
          <a href="13231">Best Practices</a>
          <a href="13231">Best Practices</a>
          <a href="13231">Best Practices</a>
        </div>
        <div class="links sole">
          <a href="13231">Best Practices</a>
        </div>
        <div class="info">
          <div>
            <a href="s">Cleanup</a>
            <span>123</span>
          </div>
          <div>
            <a href="s">Cleanup</a>
            <span>123</span>
          </div>
          <div>
            <a href="s">Cleanup</a>
            <span>123</span>
          </div>
          <div>
            <a href="s">Cleanup</a>
            <span>123</span>
          </div>
          <div>
            <a href="s">Cleanup</a>
            <span>123</span>
          </div>
          <div>
            <a href="s">Cleanup</a>
            <span>123</span>
          </div>
        </div>
        <div class="statistics">
          There are currently <a href="s">235 active editors</a>
        </div>
      </div>
      <div class="construction">
        <div class="introduce">Side Games Wiki</div>
        <div class="cards">
          <div>
            <a href="13231">
              <img src="assets/GGXRD-R2_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/GGXRD-R2_Logo.png" alt="" />
            </a>
          </div>
          <div>
            <a href="13231">
              <img src="assets/GGXRD-R2_Logo.png" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="frame">
        <iframe
          src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=48XymUy2YgzRr0lB"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <figure>
        <img src="assets/278px-Article_GGX_1.5_Banner.png" alt="" />
        <figcaption>
          <p>1321123</p>
          <h3>This is a test</h3>
        </figcaption>
      </figure>
    </div>
  </main>
</div>
